<h1><%= current_user.name %>'s Movies:</h1>

<ol>
  <% @movies.order('title ASC').each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie) %> 
    </li>
  <% end %>
</ol>

